<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="index.js"></script>

    <title>ADVANCECONSULTING</title>
</head>

<body>



    <!-- erromessages -->
    <!-- Error messages -->
    <% console.log('errorMessages:', errorMessages); %>
    <% if (errorMessages) { %>
      <div class="alert alert-danger" id="errorMessage">
        <%= errorMessages %>
      </div>
    <% } %>
    


            <!-- Header -->
            <section id="header">
                <div class="header container-fluid">
                    <div class="nav-bar">
                        <div class="brand">
                            <a href="/">
                                <h1><span>A</span>dvance<span>C</span>onsulting</h1>
                            </a>
                        </div>
                        <div class="nav-list">
                            <div class="hamburger">
                                <div class="bar"></div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#services" data-after="Service">Services</a>
                                </li>
                                <li>
                                    <a href="#projects" data-after="Projects">Events</a>
                                </li>
                                <li>
                                    <a href="#about" data-after="About">About</a>
                                </li>
                                <li>
                                    <a href="#contact" data-after="Contact">Contact</a>
                                </li>
                                <li>
                                    <% if (!isAuthenticated) { %>
                                        <a type="button" class="login-btn" data-toggle="modal" data-target="#loginModal"
                                            style="background-color: #3498db; color: #fff;">
                                            Login
                                        </a>
                                        <% } %>
                                </li>


                                <!-- <li>
                                    <a type="button" class="login-btn" data-toggle="modal" data-target="#signupModal" style="background-color: #2ecc71; color: #fff;">
                                        Signup
                                    </a>
                                </li> -->

                                <li>
                                    <% if (isAuthenticated) { %>
                                        <a type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                            data-target="#signupModal">
                                            Create an Account
                                        </a>
                                        <% } %>
                                </li>

                                <li>
                                    <% if (isAuthenticated) { %>
                                        <a class="red btn-sm btn-danger" href="/signout"
                                            style="background-color: #e74c3c; color: #fff;">
                                            Log Out
                                        </a>
                                        <% } %>
                                </li>

                                <li>
                                    <% if (isAuthenticated) { %>
                                        <a href="/admindashboard" class="btn-sm btn-success">
                                            Admin
                                        </a>
                                        <% } %>
                                </li>





                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Header -->

            <!-- Hero Section  -->

            <section id="hero">
                <div class="hero container">
                    <div>
                        <h1>Hello, <span></span></h1>
                        <h1>World of charity and <span></span></h1>
                        <h1>Donation<span></span></h1>
                        <a href="#projects" type="button" class="cta">Events</a>
  <a type="button" class="login-btn" data-toggle="modal" data-target="#loginModal"
                                            style="background-color: #3498db; color: #fff;">
                                            Login
                                        </a>
                    </div>
                </div>
            </section>
            <!-- End Hero Section  -->

            <!-- Service Section -->
            <section id="services">
                <div class="services container">
                    <div class="service-top">
                        <h1 class="section-title">Serv<span>i</span>ces</h1>
                        <p>
                            Advanced Education <br>
                            Advanced Health <br>
                            Advanced Social and Public Welfare hiii<br>
                        </p>
                    </div>
                    <div class="service-bottom">
                        <div class="service-item">
                            <div class="icon">
                                <img width="100" height="100"
                                    src="https://img.icons8.com/external-ddara-lineal-ddara/100/external-idea-startup-money-magnet-funding-business-project-business-management-ddara-lineal-ddara.png"
                                    alt="external-idea-startup-money-magnet-funding-business-project-business-management-ddara-lineal-ddara" />
                            </div>
                            <h2>Fund Raising</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                debitis rerum, magni voluptatem sed architecto placeat beatae
                                tenetur officia quod
                            </p>
                        </div>
                        <div class="service-item">
                            <div class="icon">
                                <img width="100" height="100" src="https://img.icons8.com/ios/100/charity.png"
                                    alt="charity" />
                            </div>
                            <h2>Charity</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                debitis rerum, magni voluptatem sed architecto placeat beatae
                                tenetur officia quod
                            </p>
                        </div>
                        <div class="service-item">
                            <div class="icon">
                                <img width="100" height="100" src="https://img.icons8.com/ios/100/add-dollar.png"
                                    alt="add-dollar" />
                            </div>
                            <h2>Donations</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                debitis rerum, magni voluptatem sed architecto placeat beatae
                                tenetur officia quod
                            </p>
                        </div>
                        <div class="service-item">
                            <div class="icon">
                                <img width="100" height="100" src="https://img.icons8.com/ios/100/giving.png"
                                    alt="giving" />
                            </div>
                            <h2>Crisis Relief</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                debitis rerum, magni voluptatem sed architecto placeat beatae
                                tenetur officia quod
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Service Section -->

            <!-- Projects Section -->

            <!-- <section id="projects">
                <div class="projects container">
                    <div class="projects-header">
                        <h1 class="section-title">Recent <span>Events</span></h1>
                    </div>
                    <div class="all-projects">
                        <% if (events.length> 0) { %>
                            <% events.forEach(function(event) { %>
                                <div class="project-item">
                                    <div class="project-info">
                                        <h1>
                                            <%= event.topic %>
                                        </h1>
                                        <h2>
                                            <%= event.eventTitle %>
                                        </h2>
                                        <p>
                                            <%= event.eventBody %>
                                        </p>


                                        <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#bookingModal">Book
                                            Event</button>
                                    </div>



                                    <div class="project-img">
                                        <img src="./img/awarness.jpg" alt="img" />
                                    </div>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <p>No events available.</p>
                                        <% } %>

                    </div>


                </div>
            </section> -->
            <!-- End Projects Section -->


            <section id="projects">
                <div class="projects container">
                    <div class="projects-header">
                        <h1 class="section-title">Recent <span>Events</span></h1>
                    </div>
                    <div class="all-projects">
                        <% if (events.length> 0) { %>
                            <% events.forEach(function(event) { %>
                                <div class="project-item">
                                    <div class="project-info">
                                        <h1>
                                            <%= event.topic %>
                                        </h1>
                                        <h2>
                                            <%= event.eventTitle %>
                                        </h2>
                                        <p>
                                            <%= event.eventBody %>
                                        </p>

                                        <!-- Button to trigger the booking modal -->
                                        <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#bookingModal<%= event._id %>">
                                            Book Event
                                        </button>

                                        <!-- Booking Modal -->
                                        <div class="modal fade" id="bookingModal<%= event._id %>" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"
                                                            style="color: black;">Enter Your Details </h5>

                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="color: black;">
                                                        <!-- Booking form -->

                                                        <form action="/event/book" method="post">


                                                            <input type="hidden" name="eventId"
                                                                value="<%= event._id %>">
                                                            <div class="form-group">
                                                                <label for="userName">Your Fullname</label>
                                                                <input type="text" class="form-control" id="userName"
                                                                    name="userName" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Phone Number</label>
                                                                <input type="tel" class="form-control" id="phoneNumber"
                                                                    name="phoneNumber" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Email Address </label>
                                                                <input type="email" class="form-control" id="email"
                                                                    name="email" required>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Book
                                                                Now</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="project-img">
                                        <img src="./img/awarness.jpg" alt="img" />
                                    </div>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <p>No events available.</p>
                                        <% } %>
                    </div>
                </div>
            </section>



            <!-- End Projects Section -->

            <!-- About Section -->
            <section id="about">
                <div class="about container">
                    <div class="col-left">
                        <div class="about-img">
                            <img src="./img/charity.png" alt="img" />
                        </div>
                    </div>
                    <div class="col-right">
                        <h1 class="section-title">Who are <span>we?</span></h1>
                        <h2>Campaigner</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Asperiores, velit alias eius non illum beatae atque repellat ratione
                            qui veritatis repudiandae adipisci maiores. At inventore
                            necessitatibus deserunt exercitationem cumque earum omnis ipsum rem
                            accusantium quis, quas quia, accusamus provident suscipit magni!
                            Expedita sint ad dolore, commodi labore nihil velit earum ducimus
                            nulla quae nostrum fugit aut, deserunt reprehenderit libero enim!
                        </p>
                        <a href="#" class="cta">Know More</a>
                    </div>
                </div>
            </section>
            <!-- End About Section -->

            <!-- Contact Section -->
            <section id="contact">
                <div class="contact container">
                    <div>
                        <h1 class="section-title">Contact <span>info</span></h1>
                    </div>
                    <div class="contact-items">
                        <div class="contact-item">
                            <div class="icon">
                                <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
                            </div>
                            <div class="contact-info">
                                <h1>Phone</h1>
                                <h2>+1 234 123 1234</h2>
                                <h2>+1 234 123 1234</h2>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="icon">
                                <img src="https://img.icons8.com/bubbles/100/000000/new-post.png" />
                            </div>
                            <div class="contact-info">
                                <h1>Email</h1>
                                <h2>info@gmail.com</h2>
                                <h2>abcd@gmail.com</h2>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="icon">
                                <img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" />
                            </div>
                            <div class="contact-info">
                                <h1>Address</h1>
                                <h2>Sydney, Australia, NSW, 2142</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Section -->





            <!-- Login modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Login form -->
                            <form action="/login" method="POST" class="formformessage" autocomplete="off">
                                <div class="form-group">
                                    <label for="loginEmail">Email address</label>
                                    <input type="email" class="form-control" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="loginPassword">Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a href="#loginModal" class="btn btn-sm btn-info"
                                    onclick="alert('You are not allowed to create or register an account. Please ask the administrator to create an account for you to access the site.');">No
                                    account? Register now</a>


                            </form>




                        </div>
                    </div>
                </div>
            </div>






            <!-- Signup Modal -->
            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="signupModalLabel">Create an User account !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Signup form -->

                            <form class="formformessage" action="/register" method="POST" autocomplete="off">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="username"
                                        placeholder="Enter your name" required>
                                    <div id="emailHelp" class="form-text"> We'll never share your email with
                                        anyone
                                        else.</div>

                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                        required>


                                </div>
                                <button type="submit" class="btn btn-lg btn-primary"> Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <section id="footer">
                <div class="footer container">
                    <div class="brand">
                        <h1><span>A</span>ustralian <span>C</span>onsulting</h1>
                    </div>
                    <h2>Your Complete Event Solution</h2>
                    <div class="social-icon">
                        <div class="social-item">
                            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                        </div>
                        <div class="social-item">
                            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                        </div>

                        <div class="social-item">
                            <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
                        </div>
                    </div>
                    <p>Copyright © 2023 Team 6. All rights reserved</p>
                </div>
            </section>
            <!-- End Footer -->
            <script src="index.js"></script>
            <script src="./script.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


            <!-- Bootstrap JS and jQuery -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            <!-- JavaScript to close the error message after 4 seconds -->
            <script>
                setTimeout(function () {
                    closeErrorMessage();
                }, 4000);

                function closeErrorMessage() {
                    var errorMessage = document.getElementById("errorMessage");
                    errorMessage.style.display = "none";
                }
            </script>

</body>

</html>
